
.navbar {
	background-color: rgba(0, 0, 0, 0.75);
	border-color: black;

}

#panel-pos {
	position: absolute; 
	bottom: 10em;
	left: 2em;

}
.panel {
  background-color: opacity:0.5;
  color: black;
  height: 200px;
  width: 170px;
}

.circle.pred {
	background-color: transparent;
	border-radius: 200px;
	border: rgba(255, 255, 255, 0.8) 10px solid;
	color: white;
	height: 150px;
	font-weight: bold;
	font-size: 95px;
	width: 150px;
	text-align: center;
}

.circle.actual {
	background-color: rgba(255, 255, 255, 0.8);;
	border-radius: 100px;
	border: #428bca 1px solid;
	color: black;
	height: 100px;
	width: 100px;
	font-weight: bold;
	font-size: 65px;
	text-align: center;
	position: absolute;
	top: -4.5em;
	left: -.3em;

}


.col-right {
	margin-left: 12em;
	margin-top: 15em;
}
.bottom-card {
	margin-top: 20em;
}
.card-header {
	text-decoration: underline;
	text-decoration-color: white;
}

.tomorrow {
	color: white;
	font-weight: bold;
	font-size: 35px
}
.row-main {  
  display: flex;
  flex-flow: row wrap;

}
.side {
  flex: 30%;
  padding: 20px;
  top:100px;
 }
 .main {
  flex: 70%;
  padding: 20px;
}

.side-table {
  flex: 30%;
  padding: 20px;
 }

.main-card {
  flex: 70%;
  padding: 20px;
}


/* Main column */

.main-table {
  flex: 50%;
  padding: 20px;

 }

/* Main column */
.side-graph {
  flex: 50%;
  padding: 20px;
}
#graph1, #graph2, #graph3 {
	width:450px;
	height:300px;
	opacity: 0.75

}

h3 {
  color: white;
}

h6 {
	color: white;
	font-weight: 900;
}


body {
	
  	background-repeat: repeat;
    background-size: cover;
    padding-bottom: 5px
}
html {
    ;
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    height: 100%
}


div.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
}

.card-body {
	padding: 20px;
}
table, th, td {
   border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: center
}

table tr:nth-child(even) {
  background-color: #eee;
}
table tr:nth-child(odd) {
  background-color: #fff;
}
table th {
	color:white;
	background-color: rgba(0, 0, 0, 0.7);;
}

caption {
	text-align: center;
}


