
.navbar {
	background-color: rgba(0, 0, 0, 0.75);
	border-color: black;

}

.circle.pred {
	background-color: transparent;
	border-radius: 200px;
	border: rgba(255, 255, 255, 0.8) 10px solid;
	color: white;
	height: 200px;
	font-weight: bold;
	font-size: 125px;
	width: 200px;
	text-align: center;
}

.circle.actual {
	background-color: rgba(255, 255, 255, 0.8);;
	border-radius: 100px;
	border: #428bca 1px solid;
	color: black;
	height: 100px;
	font-weight: bold;
	font-size: 65px;
	width: 100px;
	text-align: center;
	position: absolute;
}


.col-right {
	margin-left: 12em;
	margin-top: 15em;
}
.bottom-card {
	margin-top: 20em;
}
.card-header {
	text-decoration: underline;
	text-decoration-color: white;
}

.tomorrow {
	color: white;
	font-weight: bold;
	font-size: 35px
}

h3 {
  color: white;
}

h6 {
	color: white;
	font-weight: 900;
}


body {
	
  	background-repeat: repeat;
    background-size: cover;
    padding-bottom: 5px
}
html {
    ;
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    height: 100%
}

.panel {
  background-color: opacity:0.5;
  color: black;
}

div.card {
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
}

table, th, td {
   border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: center
}

table tr:nth-child(even) {
  background-color: #eee;
}
table tr:nth-child(odd) {
  background-color: #fff;
}
table th {
	color:white;
	background-color: rgba(0, 0, 0, 0.7);;
}

caption {
	text-align: center;
}




